# configuration file for model settings
# TODO: change this to YAML? 

# model
$ mesh.cyto = /home/justin/gitrepos/fenics-systems-biology-framework/mesh/ideal_purkinje_1er_correctedMarkers_coarse_small.xml
$ model.parameters = /home/justin/gitrepos/purkinje-model/models/toy_model/parameters.json
$ model.compartments = /home/justin/gitrepos/purkinje-model/models/toy_model/compartments.json
$ model.species = /home/justin/gitrepos/purkinje-model/models/toy_model/species.json
$ model.reactions = /home/justin/gitrepos/purkinje-model/models/toy_model/reactions.json

# TODO: alternatively load in by directory with assumed filenames
#$ model.directory = /home/justin/gitrepos/purkinje-model/models/toy_model


$ settings.ignore_surface_diffusion = True

$ solver.linear_solver = cg
$ solver.linear_solver = ilu
$ solver.nonlinear = picard
$ solver.linear_abstol = 1e-4
$ solver.norms = Linf
$ solver.min_picard = 3
$ solver.max_picard = 3
$ solver.dt_increase_factor = 1.10
$ solver.dt_decrease_factor = 0.5
$ solver.initial_dt = 0.001
# a value of dt to use for the stiff portion of the problem
$ solver.stiff_dt = 0.0001
$ solver.T = 0.01

$ directory.solutions = test_solutions
$ directory.plot = test_plots

# plot settings
$ plot.lineopacity = 0.6
$ plot.linewidth_small = 1.5
$ plot.linewidth_med = 3
$ plot.fontsize_small = 5
$ plot.fontsize_med = 7