# configuration file for model settings

$ model.ignore_surface_diffusion = True

$ solver.linear_solver = cg
$ solver.linear_solver = ilu
$ solver.nonlinear = picard
$ solver.linear_abstol = 1e-4
$ solver.norms = Linf
$ solver.min_picard = 3
$ solver.max_picard = 3
$ solver.dt_increase_factor = 1.10
$ solver.dt_decrease_factor = 0.5

$ mesh.cyto = /home/justin/gitrepos/fenics-systems-biology-framework/mesh/ideal_purkinje_1er_correctedMarkers_coarse_small.xml

$ directory.solutions = test_solutions 
$ directory.plot = test_plots

