blessings==1.7
bpython==0.18
certifi==2019.9.11
chardet==3.0.4
curtsies==0.3.0
cycler==0.10.0
fastcache==1.1.0
fenics-dijitso==2019.1.0
fenics-dolfin==2019.1.0
fenics-ffc==2019.1.0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
gmpy2==2.1.0b1
greenlet==0.4.15
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.1
mpi4py==3.0.2
mpmath==1.1.0
numpy==1.16.4
pandas==0.25.1
petsc4py==3.11.0
Pint==0.9
pkgconfig==1.3.1
pybind11==2.3.0
Pygments==2.4.2
pyparsing==2.4.2
PyQt5==5.13.1
PyQt5-sip==12.7.0
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
scipy==1.3.1
six==1.12.0
slepc4py==3.11.0
sympy==1.4
tabulate==0.8.5
termcolor==1.1.0
tornado==6.0.3
typing==3.7.4.1
urllib3==1.26.5
wcwidth==0.1.7
